* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 10px;
    background: skyblue;
    color: black;
    border: 2px solid grey;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: larger;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    background: #002763;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.centreDiv {
    margin-top: 50px;
    width: 25%;
    height: 80vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    color: white;
    background: transparent;
    background-color: #fa9500;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

input {
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 26px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}


/* .card {
    margin: auto;
    background-color: cadetblue;
    box-shadow: 0px 2px 4px #ffe9c5;
    width: 300px;
    height: 300px;
} */

.btn {
    min-height: 40px;
    width: 54px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fa9500;
    color: #fff;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #20bf6b;
}

.btn_del:hover {
    background-color: crimson;
}

.btn_del {
    min-height: 8px;
    width: 30px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fa9500;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 10px;
    /* box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5); */
}


ol {
    margin-top: 30px;
}

ol li {
    padding-left: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: black;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 10px;
}

.todoStyle {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.todoStyle .fa-times {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment:#fa9500;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: black;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

.todoStyle .fa-times:hover {
    background-color: crimson;
}

.todoStyle .fa-times:hover .list_style {
    color: crimson;
}

@media (max-width: 768px) {
    .centreDiv {
        width: 55%;
    }
    .todoStyle .fa-times {
        margin: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        margin-left: 5px;
        min-height: 40px;
        width: 40px;
        color: white;
        font-size: 30px;
    }
}